body {
  background-color: #2d394d;
}

.navbar {
  display: flex;
  flex-direction: row;
  max-height: 20px;
  align-items: center;
  margin: 2rem 10rem;
}

.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.3rem;
  align-items: center;
}

.navbar--logo {
  width: 2.5rem;
  fill: #ff7a90;
}

.navbar--title {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #fffaf8;
  margin-bottom: 2px;
}

.words {
  margin: 10rem 10rem auto 10rem;
  overflow: hidden;
  height: 7rem;
}

.word {
  margin: 0;
  padding: .4rem;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  color: #4a768d;
  line-height: 1.5rem;
}
