body {
  background-color: #2d394d;
}

.App {
  position: relative;
  margin: 2rem 10rem;
  border: 1px solid white;
  height: 90vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  max-height: 20px;
  align-items: center;
}

.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.3rem;
  align-items: center;
}

.navbar--logo {
  width: 2.5rem;
  fill: #ff7a90;
}

.navbar--title {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #fffaf8;
  margin-bottom: 2px;
}

.words {
  position: absolute;
  top: 14rem;
  margin: auto;
  overflow: hidden;
  height: 7rem;
}

.word {
  margin: 0;
  padding: .4rem;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  color: #4a768d;
  line-height: 1.5rem;
  /* letter-spacing: 1px; */
}


@keyframes blink{
  0%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

.cursor{
  position: absolute;
  top: 264px;  /*264  300*/ 
  left: 174px; /*174  188*/
  width: .15em;
  height: 1.5em;
  background: #ff7a90;
  position: fixed;
  animation: blink 1s infinite;
  transition: all 100ms;
  border-radius: 10px;
}

.correct {
  color: #fffaf8;

}

.incorrect {
  color: #ee2a3a;
}

.word.incorrect {
  text-decoration: underline;
  text-decoration-color: #ee2a3a;
}